<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
					<span class="login100-form-title p-b-43 mb-3">
						Registration to the platform
					</span>


        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" placeholder=" " name="email" required>
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" placeholder=" " name="pass" required>
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" placeholder=" " name="repass" required>
          <span class="focus-input100"></span>
          <span class="label-input100">Repeat Password</span>
        </div>

        <div class="container-login100-form-btn mt-4">
          <button class="login100-form-btn">
            Register
          </button>
        </div>

        <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or
              <a [routerLink]="['/auth/login']" class="txt1">
                sign up
              </a>
						</span>
        </div>
      </form>

      <div class="login100-more" style="background-color: #24252D; background-image: url('assets/images/back-main.svg');">
      </div>
    </div>
  </div>
</div>
