<div class="container">
    <div class="row">
        <div class="main-banner">
            <span>Discover, Participate, Capture.
                All in one - Mannheim</span>
        </div>
        <div class="top-users">
            <div class="users-title">Top Users</div>
            <div class="users-slider">
                <div class="col-md-2 user-top">
                    <div class="top-upper-number">1</div>
                    <div class="img-user-top">
                        <img src="assets/images/user-1.svg" alt="">
                        <img src="assets/images/tick.svg" alt="" class="tick">
                    </div>
                    <div class="user-top-text">
                        <div class="user-title">Mia Ayana</div>
                        <div class="user-text">5.250 MNH</div>
                    </div>
                </div>
                <div class="col-md-2 user-top">
                    <div class="top-upper-number">2</div>
                    <div class="img-user-top">
                        <img src="assets/images/user-2.svg" alt="">
                        <img src="assets/images/tick.svg" alt="" class="tick">
                    </div>
                    <div class="user-top-text">
                        <div class="user-title">Mia Ayana</div>
                        <div class="user-text">4.932 MNH</div>
                    </div>
                </div>
                <div class="col-md-2 user-top">
                    <div class="top-upper-number">3</div>
                    <div class="img-user-top">
                        <img src="assets/images/user-3.svg" alt="">
                        <img src="assets/images/tick.svg" alt="" class="tick">
                    </div>
                    <div class="user-top-text">
                        <div class="user-title">Lady Young</div>
                        <div class="user-text">4.620 MNH</div>
                    </div>
                </div>
                <div class="col-md-2 user-top">
                    <div class="top-upper-number">4</div>
                    <div class="img-user-top">
                        <img src="assets/images/user-4.svg" alt="">
                        <img src="assets/images/tick.svg" alt="" class="tick">
                    </div>
                    <div class="user-top-text">
                        <div class="user-title">Black Glass</div>
                        <div class="user-text">4.125 MNH</div>
                    </div>
                </div>
                <div class="col-md-2 user-top">
                    <div class="top-upper-number">5</div>
                    <div class="img-user-top">
                        <img src="assets/images/user-5.svg" alt="">
                        <img src="assets/images/tick.svg" alt="" class="tick">
                    </div>
                    <div class="user-top-text">
                        <div class="user-title">Budhiman</div>
                        <div class="user-text">3.921 MNH</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot-seats">
            <div class="hot-seats-title">Hot Seats</div>
            <div class="hot-seats-content">
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-1.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-2.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-3.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-4.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-5.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-6.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-7.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 hot-seat-card">
                    <div class="img-block-card">
                        <img src="assets/images/card-8.svg" alt="">
                    </div>
                    <div class="text-block-card">
                        <div class="card-text-block">
                            <div class="card-title">Digital Reboot for planet</div>
                            <div class="card-text">1.25 ETH</div>
                        </div>                        
                        <div class="like-block">
                            <img src="assets/images/like.svg" alt="">
                            <span>92</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
