.container-fluid {
  margin: 0;
  padding: 0;
  background: #24252D;

  .app-header {
    width: 100%;
    height: auto;
  }

  .main-body {
    width: 100%;
    height: auto;
  }

  .app-footer {
    width: 100%;
    height: auto;
  }
}
