<div class="overall-container">
    <div class="container d-flex justify-content-center align-items-start pt-2">
        <div class="card">

            <div class="upper">

                <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">

            </div>

            <div class="user text-center">

                <div class="profile">

                    <img src="assets/images/user-2.svg" class="rounded-circle" width="80">

                </div>

            </div>


            <div class="mt-5 text-center">

                <h4 class="mb-0">Benjamin Tims</h4>
                <span class="text-muted d-block mb-2">Astana</span>

                <button class="btn btn-primary btn-sm follow" (click)="connectWallet()">Connect wallet</button>

                <div class="d-flex justify-content-between align-items-center mt-4 px-4">

                    <div class="stats">
                        <h6 class="mb-0">Followers</h6>
                        <span>879</span>

                    </div>


                    <div class="stats">
                        <h6 class="mb-0">NFT's</h6>
                        <span>3</span>

                    </div>


                    <div class="stats">
                        <h6 class="mb-0">Ranks</h6>
                        <span>129</span>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="hot-seats">
        <div class="hot-seats-title">Profile NFT's</div>
        <div class="hot-seats-content">
            <div class="col-md-3 hot-seat-card">
                <div class="img-block-card">
                    <img src="assets/images/card-1.svg" alt="">
                </div>
                <div class="text-block-card">
                    <div class="card-text-block">
                        <div class="card-title">Digital Reboot for planet</div>
                        <div class="card-text">1.25 ETH</div>
                    </div>
                    <div class="like-block">
                        <img src="assets/images/like.svg" alt="">
                        <span>92</span>
                    </div>
                </div>

            </div>
            <div class="col-md-3 hot-seat-card">
                <div class="img-block-card">
                    <img src="assets/images/card-2.svg" alt="">
                </div>
                <div class="text-block-card">
                    <div class="card-text-block">
                        <div class="card-title">Digital Reboot for planet</div>
                        <div class="card-text">1.25 ETH</div>
                    </div>
                    <div class="like-block">
                        <img src="assets/images/like.svg" alt="">
                        <span>92</span>
                    </div>
                </div>

            </div>
            <div class="col-md-3 hot-seat-card">
                <div class="img-block-card">
                    <img src="assets/images/card-3.svg" alt="">
                </div>
                <div class="text-block-card">
                    <div class="card-text-block">
                        <div class="card-title">Digital Reboot for planet</div>
                        <div class="card-text">1.25 ETH</div>
                    </div>
                    <div class="like-block">
                        <img src="assets/images/like.svg" alt="">
                        <span>92</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
