@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.overall-container {
  background-color:#545454;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  height: auto;
}

.card{
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 370px;
}

.upper{
  height: 100px;
}

.upper img{

  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.user{
  position: relative;
}

.profile img{


  height: 80px;
  width: 80px;
  margin-top:2px;


}

.profile{

  position: absolute;
  top:-50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;

  border-radius: 50%;

}

.follow{

  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.stats span{

  font-size: 29px;
}
.hot-seats {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 50px;

  .hot-seats-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .hot-seats-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .hot-seat-card {
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 11px 12px 0 11px;
      background: #2A2D3A;
      border-radius: 20px;
      width: calc(25% - 30px);
      margin: 0 15px;
      margin-bottom: 20px;

      .img-block-card {
        width: 100%;
        height: 300px;
        border-radius: 20px;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          border-radius: 20px;
        }
      }
      .text-block-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
        border-radius: 0 0 10px 10px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(51, 51, 51, 0.49) 30%);

        .card-text-block {
          .card-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
          }
          .card-text {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
            margin-top: 5px;
          }
        }
        .like-block {
          img {
            width: 12px;
            height: 12px;
            margin-right: 5px;
          }
          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
          }
        }
      }

    }
  }
}
