<div class="container">
    <div class="row">
        <div class="left-side col-md-5">
            <div class="logo-block">
                <img src="../../../assets/images/logo-header.svg" alt="">
            </div>
            <div class="email-updates">
                <span>Get the latest Updates</span>
                <div class="input-block">
                    <input type="text" placeholder="Your Email">
                    <a href="#">Email Us!</a>
                </div>
            </div>
            <div class="logo-title">
                <span>Mannheim, Inc. All Rights Reserved</span>
            </div>
        </div>
        <div class="middle-side col-md-3">
            <div class="middle-title">Mannheim</div>
            <div class="middle-list">
                <div class="middle-item">Explore</div>
                <div class="middle-item">How it Works</div>
                <div class="middle-item">Contact Us</div>
            </div>
        </div>
        <div class="right-side col-md-4">
            <div class="right-title">Support</div>
            <div class="right-list">
                <div class="right-item">Help center</div>
                <div class="right-item">Terms of service</div>
                <div class="right-item">Legal</div>
                <div class="right-item">Privacy policy</div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
